/* @media screen and (max-width :1240px) {
    .container {
        max-width: 970px;
    }


} */

@media screen and (max-width:991px) {
    .container {
        max-width: 720px;
    }

    .season-switcher-sec {
        padding: 50px 0;
    }

    h1 {
        font-size: 35px;
        margin-bottom: 18px;
    }

    .img-blk {
        margin-bottom: 20px;
    }

    .btn-blk {
        gap: 20px;
        flex-wrap: wrap;
    }

}

@media screen and (max-width:767px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    .season-switcher-sec {
        padding: 40px 0;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .img-blk {
        margin-bottom: 15px;
    }

    .btn-blk {
        gap: 15px;
    }

}

@media screen and (max-width:480px) {
    .season-switcher-sec {
        padding: 35px 0;
    }

    h1 {
        font-size: 25px;
    }
}