* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.season-switcher-sec {
    padding: 100px 0px;

}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #000;
    line-height: 1;
    letter-spacing: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.img-blk {
    margin-bottom: 30px;
}

.season-image {
    width: 100%;
    height: 80vh;

}

.btn-blk {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    line-height: 1;
    letter-spacing: 0px;
    text-align: center;
    width: 100px;
    height: 40px;
    border: none;
}

.spring-btn {
    background-color: #3a7333;
}

.summer-btn {
    background-color: #e0bb00;
}

.antumn-btn {
    background-color: #b04400;
}

.winter-btn {
    background-color: #0f7cb6;
}